* {
  font-family: 'Roboto', sans-serif;
}
p, span, li {
  color: $light-gray;
  font-size: 14px;
  line-height: 18px;
}
h3 {
  color: $accent;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
