.add-creative {
  display: flex;
  align-items: center;
  padding: 11px 0 25px;
  border-bottom: 1px solid #54637C;
}
.add-creative__heading {
  flex: 0 0 104px;
  margin-right: 24px;
  font-weight: 500;
}
